/* Configuração geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background: #0058a3;
    color: white;
    padding: 1rem 0;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.menu li {
    margin: 0 1rem;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

/* Botões e links */
.cta-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background: #005bb5;
}

/* Imagens */
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Seções */
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Formulário */
form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 0.5rem 1rem;
    background: #0058a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #003f73;
}

/* Rodapé */
footer {
    text-align: center;
    background: #0058a3;
    color: white;
    padding: 1rem 0;
}

/* Switch de Acessibilidade */
#accessibility-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    gap: 10px;
}

#accessibility-toggle, #libras-toggle {
    background: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#accessibility-toggle:hover, #libras-toggle:hover {
    background: #005bb5;
}



#vlibras-instructions {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#vlibras-instructions video {
    margin: 1rem 0;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

